<div id="navbar">
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/viewOrganization">Organization</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/subjects">Subjects</a></li>
    </ul>


</div>