<div id="navbar">
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="#org-section">Organization</a></li>
        <li><a href="#subject">Subjects</a></li>

    </ul>
</div>