<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/images/favicon.ico" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Select Course</title>
</head>

<body>
    <center>
        <h1>Rate Trainer</h1>
        <br>
        <table class="rate">
            <tr id="trainer">
                <td>
                    <div class="dropdown">
                        <select>
            <% arr.forEach(e => { %>
            <option>
              <%= e.name %>
            </option>
            <% }) %>
        </div>
        </div>
      </td>
      <td><select>
          <% for(var nos = 1 ; nos <=10 ; nos++) { %>
          <option><%= nos %></option>
          <% } %>
        </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button style="width: 100%" onclick="rate()">Rate</a></td>
        </tr>
    </table>
  </center>
</body>

<script>
  function rate() {
    
  }
</script>


</html>