<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Register</title>
</head>

<body>
    <center>
        <div style="position: relative;
margin-top: 3vh;">
            <p style="font-size: 3.5em">Register</p>
            <p style="opacity: 0.76;">Already a User? <a style="color:#6dabe4" href="/auth/login">Login</a></p>
            <form id="regForm" action="/auth/register" method="POST">
                <input type="text" required name="name" placeholder="Name">
                <br>
                <input type="email" required id="email" name="username" placeholder="Email">
                <br>
                <input type="number" required id="number" name="phone" placeholder="Phone number">
                <br>
                <input type="password" required name="password" id="password" placeholder="Password">
                <br>
                <input type="password" required name="rePassword" id="rePassword" placeholder="Password Again">
                <br>
                <select name="role">
                    <option value="admin">Admin</option>
                    <option value="trainer">Trainer</option>
                    <option value="learner">Learner</option>
                </select>
                <br>
                <input type="submit" id="submit" value="Sign Up">
            </form>
        </div>
    </center>
    <br>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiGf9m5PCwpwb1EG9XyJgwVosLWYX7URUBcFb8=" crossorigin="anonymous"></script>

<script>
    document.getElementById('submit').addEventListener('click', function (e) {
        if (document.getElementById('rePassword').value != document.getElementById('password').value) {
            alert('Passwords don\'t match');
            e.preventDefault();
        }
    });
</script>

</html>