<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <title>Subjects</title>

</head>

<body>
    <% include ./partials/admin-navbar %>
        <br>
        <center>
            <h1>Subjects</h1>
            <a href="/addSubject">Add Subjects</a>
            <br>
            <table class="table" id="tbody">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Credits</th>
                        <th scope="col">Compulsory</th>
                    </tr>
                </thead>
                <% console.log(subArr); subArr.forEach(e => { %>
                    <tr>
                        <td>
                            <%= e.name %>
                        </td>
                        <td>
                            <%= e.credits %>
                        </td>
                        <td>
                            <%= e.compulsory %>
                        </td>
                    </tr>
                    <% }); %>
            </table>
        </center>
</body>

</html>