<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <% if(req.user.role === 'trainer') { %>
        <p style="opacity: 0.76;"><a style="color: #6dabe4" href="/uploadCourseMaterial">Upload course material</a></p>
        <%} else { %>
            <p style="opacity: 0.76;"><a style="color: #6dabe4" href="/viewCourseMaterial">View course material</a></p>
            <% } %>
</body>

</html>